.modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal__box {
    background: var(--color-white);
    border-radius: var(--radius-lg);
    padding: 20px;
    position: relative;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal__close img {
    width: 22px;
    height: 22px;
}